[submodule "runtime"]
	path = runtime
	url = https://github.com/atlasmap/atlasmap-runtime
[submodule "ui"]
	path = ui
	url = https://github.com/atlasmap/atlasmap-ui
[submodule "camel"]
	path = camel
	url = https://github.com/atlasmap/camel-atlasmap
[submodule "app"]
	path = app
	url = https://github.com/atlasmap/atlasmap-app
