.iGroup {
  margin-bottom: 1.0rem;
  margin-left: 0.5rem;
}

.iSelectBody {
  width: 200;
  margin-left: 0.5rem;
}

.iSelectLabel {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  width: 150;
  margin-right: 250;
}
 
.iGroupTextLabel {
  margin-top: 1.0rem;
  width: 425,
}


