name: 'Chromatic'

on:
  pull_request:
    branches: [ master ]
    paths:
      - 'ui/**'

jobs:
  deploy:
    if: github.repository == 'atlasmap/atlasmap' && github.actor != 'dependabot[bot]' && github.actor != 'dependabot'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: yarn install
        working-directory: ui
      - name: build @atlasmap/core
        run: yarn build:module
        working-directory: ui/packages/atlasmap-core
      - name: prebuild
        run: yarn prebuild
        working-directory: ui/packages/atlasmap
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: adaaa25c3df8
          workingDir: ui/packages/atlasmap
          buildScriptName: build:storybook
